# avoid temp files
.build

# private things
stuff

# avoid temp and backup files.
*~
*#
*.bak
*.old
*.rej
*.swp
*.tmp

# avoid compiled gettext files
*.mo

# avoid archives of this distribution
Games-Pandemic-*
